N8N_HOST=n8n.tudominio.com
DB_PASSWORD=tu_password_postgres_muy_seguro
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=tu_password_admin_muy_seguro
N8N_ENCRYPTION_KEY=una_clave_de_encriptacion_muy_larga_y_segura_de_al_menos_32_caracteres
TIMEZONE=America/New_York
# Ai
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_GEMINI_API_KEY=
